* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

@font-face {
    font-family: JetBrains Mono Regular;
    src: url('JetBrains-Mono-Regular.ttf');
}

code {
    font: 12px "JetBrains Mono Regular";
}